$primary: hsl(206, 44%, 30%);
$secondary: hsl(206, 71%, 80%);
$tertiary: hsl(206, 80%, 65%);
$quaternary: hsl(206, 18%, 36%);
$quinary: hsl(206, 45%, 51%);

$black: hsl(0, 0%, 12.5%);
$dark-gray: hsl(0, 0%, 15%);
$dark-gray-1: hsl(0, 0%, 25%);
$light-gray: hsl(0, 0%, 85%);
$white: hsl(0, 0%, 90%);

$background-dark: $black;
$background-light: $white;

$font-light: hsl(0, 0%, 85%);
$font-dark: hsl(0, 0%, 16%);
